<div class="card-wrapper">
  <div class="valentines-day-card">
    <input id="open" type="checkbox">
    <label class="open" for="open"></label>

    <!-- Frente de la carta -->
    <div class="card-front">
      <div class="note">Open me Cherie</div>
    </div>

    <!-- Interior -->
    <div class="card-inside">

      <!-- Página 1 -->
      <div class="page">
        <div class="text-one">Happy</div>
        <div class="heart-card"></div>
        <div class="smile"></div>
        <div class="eyes"></div>
      </div>

      <!-- Página 2 -->
      <div class="page">
        <h2 style="margin-top:40px; text-align:center; color:#b38300;">
          C’est vraiment la fin... 🌟
        </h2>
        <p style="padding:20px; text-align:center;">
          Merci d’avoir ouvert mon cœur à travers ces mots 💌<br>
          Ici se termine ma petite surprise... <br>
          <strong>je t’aime pour toujours, ma chérie 💛💜</strong>
        </p>
      </div>

      <!-- Página 3 -->
      <div class="page">
        <h2 style="margin-top:40px; text-align:center; color:#b38300;">
          C’est la dernière page…
        </h2>
        <p style="padding:20px; text-align:center;">
          Ici se termine mon petit cadeau, un livre de pensées, de sourires et d’amour.<br>
          Merci de l’avoir parcouru avec moi 💛
        </p>
      </div>

      <!-- Página 4 (cierre) -->
      <div class="page">
        <h2 style="margin-top:40px; text-align:center; color:#b38300;">
          Voilà… c’est vraiment la fin 🎁
        </h2>
        <p style="padding:20px; text-align:center;">
          Mais souviens-toi : même si ce cadeau se ferme,<br>
          mon amour pour toi ne s’arrête jamais 💜
        </p>
      </div>

       <div class="page">
        <h2 style="margin-top: 40px; text-align:center; color:#b38300;">
          💛💛💛💛💛
        </h2>
        <div class="card-next" style="margin-top:40px; text-align:center;">
          <button class="flow-next" data-next="letter">…ou peut-être que ce n’est pas encore fini?</button>
        </div>
        <h2 style="margin-top: 40px; text-align:center; color:#b38300;">
          💛💛💛💛💛
        </h2>
      </div>

    </div>
  </div>
</div>
