<div class="gallery-wrapper">
  <div id="encabezado-container">
    <div id="brillo">un peu de ce que nous avons vécu</div>
  </div>
  <div class="galeria">
    <img src="img/1 (1).jpg" />
    <img src="img/1 (2).jpg" />
    <img src="img/1 (3).jpg" />
    <img src="img/1 (4).jpg" />
    <img src="img/1 (5).jpg" />
    <img src="img/1 (6).jpg" />
    <img src="img/1 (7).jpg" />
    <img src="img/1 (8).jpg" />
    <img src="img/1 (9).jpg" />
    <img src="img/1 (10).jpg" />
    <img src="img/1 (11).jpg" />
    <img src="img/1 (12).jpg" />
    <img src="img/1 (13).jpg" />
    <img src="img/1 (14).jpg" />
    <img src="img/1 (15).jpg" />
    <img src="img/1 (16).jpg" />
    <img src="img/1 (17).jpg" />
    <img src="img/1 (18).jpg" />
    <img src="img/1 (19).jpg" />
    <img src="img/1 (20).jpg" />
    <img src="img/1 (21).jpg" />
    <img src="img/1 (22).jpg" />
    <img src="img/1 (23).jpg" />
    <img src="img/1 (24).jpg" />
    <img src="img/1 (25).jpg" />
    <img src="img/1 (26).jpg" />
    <img src="img/1 (27).jpg" />
    <img src="img/1 (28).jpg" />
    <img src="img/1 (29).jpg" />
    <img src="img/1 (30).jpg" />
    <img src="img/1 (31).jpg" />
    <img src="img/1 (32).jpg" />
    <img src="img/1 (33).jpg" />
    <img src="img/1 (34).jpg" />
    <img src="img/1 (35).jpg" />
    <img src="img/1 (36).jpg" />
    <img src="img/1 (37).jpg" />
    <img src="img/1 (38).jpg" />
    <img src="img/1 (39).jpg" />
    <img src="img/1 (40).jpg" />
    <img src="img/1 (41).jpg" />
    <img src="img/1 (42).jpg" />
    <img src="img/1 (43).jpg" />
    <img src="img/1 (44).jpg" />
    <img src="img/1 (45).jpg" />
    <img src="img/1 (46).jpg" />
    <img src="img/1 (47).jpg" />
    <img src="img/1 (48).jpg" />
    <img src="img/1 (49).jpg" />
    <img src="img/1 (50).jpg" />
    <img src="img/1 (51).jpg" />
    <img src="img/1 (52).jpg" />
    <img src="img/1 (53).jpg" />
    <img src="img/1 (54).jpg" />
    <img src="img/1 (55).jpg" />
    <img src="img/1 (56).jpg" />
    <img src="img/1 (57).jpg" />
    <img src="img/1 (58).jpg" />
    <img src="img/1 (59).jpg" />
    <img src="img/1 (60).jpg" />
    <img src="img/1 (61).jpg" />
    <img src="img/1 (62).jpg" />
    <img src="img/1 (63).jpg" />
    <img src="img/1 (64).jpg" />
    <img src="img/1 (65).jpg" />
    <img src="img/1 (66).jpg" />
    <img src="img/1 (67).jpg" />
    <img src="img/1 (68).jpg" />
    <img src="img/1 (69).jpg" />
    <img src="img/1 (70).jpg" />
    <img src="img/1 (71).jpg" />
    <img src="img/1 (72).jpg" />
    <img src="img/1 (73).jpg" />
    <img src="img/1 (74).jpg" />
    <img src="img/1 (75).jpg" />
    <img src="img/1 (76).jpg" />
    <img src="img/1 (77).jpg" />
    <img src="img/1 (78).jpg" />
    <img src="img/1 (79).jpg" />
    <img src="img/1 (80).jpg" />
    <img src="img/1 (81).jpg" />
    <img src="img/1 (82).jpg" />
    <img src="img/1 (83).jpg" />
    <img src="img/1 (84).jpg" />
    <img src="img/1 (85).jpg" />
    <img src="img/1 (86).jpg" />
    <img src="img/1 (87).jpg" />
    <img src="img/1 (88).jpg" />
    <img src="img/1 (89).jpg" />
    <img src="img/1 (90).jpg" />
    <img src="img/1 (91).jpg" />
    <img src="img/1 (92).jpg" />
    <img src="img/1 (93).jpg" />
    <img src="img/1 (94).jpg" />
    <img src="img/1 (95).jpg" />
    <img src="img/1 (96).jpg" />
    <img src="img/1 (97).jpg" />
    <img src="img/1 (98).jpg" />
    <img src="img/1 (99).jpg" />
    <img src="img/1 (100).jpg" />
    <img src="img/1 (101).jpg" />
    <img src="img/1 (102).jpg" />
    <img src="img/1 (103).jpg" />
    <img src="img/1 (104).jpg" />
    <img src="img/1 (105).jpg" />
    <img src="img/1 (106).jpg" />
    <img src="img/1 (107).jpg" />
    <img src="img/1 (108).jpg" />
    <img src="img/1 (109).jpg" />
    <img src="img/1 (110).jpg" />
    <img src="img/1 (111).jpg" />
    <img src="img/1 (112).jpg" />
    <img src="img/1 (113).jpg" />
    <img src="img/1 (114).jpg" />
    <img src="img/1 (115).jpg" />
    <img src="img/1 (116).jpg" />
    <img src="img/1 (117).jpg" />
    <img src="img/1 (118).jpg" />
    <img src="img/1 (119).jpg" />
    <img src="img/1 (120).jpg" />
    <img src="img/1 (121).jpg" />
    <img src="img/1 (122).jpg" />
    <img src="img/1 (123).jpg" />
    <img src="img/1 (124).jpg" />
    <img src="img/1 (125).jpg" />
    <img src="img/1 (126).jpg" />
    <img src="img/1 (127).jpg" />
    <img src="img/1 (128).jpg" />
    <img src="img/1 (129).jpg" />
    <img src="img/1 (130).jpg" />
    <img src="img/1 (131).jpg" />
    <img src="img/1 (132).jpg" />
    <img src="img/1 (133).jpg" />
    <img src="img/1 (134).jpg" />
    <img src="img/1 (135).jpg" />
    <img src="img/1 (136).jpg" />
    <img src="img/1 (137).jpg" />
    <img src="img/1 (138).jpg" />
    <img src="img/1 (139).jpg" />
    <img src="img/1 (140).jpg" />
    <img src="img/1 (141).jpg" />
    <img src="img/1 (142).jpg" />
    <img src="img/1 (143).jpg" />
    <img src="img/1 (144).jpg" />
    <img src="img/1 (145).jpg" />
    <img src="img/1 (146).jpg" />
    <img src="img/1 (147).jpg" />
    <img src="img/1 (148).jpg" />
    <img src="img/1 (149).jpg" />
    <img src="img/1 (150).jpg" />
    <!-- Las imágenes se mostrarán en orden aleatorio usando JavaScript -->
  </div>
  <!-- Botón para ver todas -->
  <button class="gallery-showall" type="button">Voir toute la galerie</button>

  <!-- Overlay con la grilla -->
  <div class="gallery-overlay" hidden>
    <button class="go-close" type="button" aria-label="Cerrar">✕</button>
    <div class="go-grid"><!-- se llena por JS --></div>
  </div>
</div>
