<div class="card-wrapper">
  <div class="intro-card">
    <input id="open-intro" type="checkbox">
    <label class="open" for="open-intro"></label>

    <div class="card-front">
      <div class="note">Ouvre le cadeau 💝</div>
    </div>

    <div class="card-inside">
      <div class="page">
        <h2 style="margin-top:40px; text-align:center; color:#b38300;">Un secret pour toi</h2>
        <p style="padding:20px; text-align:center;">
          Chaque histoire d’amour commence par un mot doux
          Celle-ci commence ici, avec toi.
        </p>
      </div>
      <div class="page">
        <h2 style="margin-top:40px; text-align:center; color:#b38300;">Es-tu prête?</h2>
        <p style="padding:20px; text-align:center;">
          Tourne la page, et laisse ton cœur suivre le mien,  
          pas à pas, vers la surprise que je garde précieusement.
        </p>
      </div>
      <div class="page">
        <h2 style="margin-top:40px; text-align:center; color:#b38300;">Au centre de tout</h2>
        <p style="padding:20px; text-align:center;">Au-delà des mots et des pages, il y a mon cœur. 💛</p>
        <p style="padding:20px; text-align:center;">Et il bat seulement pour toi.</p>
        <p style="padding:20px; text-align:center;">Aelia 💛</p>
      </div>
    </div>
  </div>
</div>
